<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>model</key>
	<string>XPS15-9550</string>
	<key>product</key>
	<string>MacBookPro13,3</string>
	<key>sn</key>
	<string>C02R8JZWGTFN</string>
    <key>mlb</key>
	<string>C026078024NHCF91M</string>
	<key>smuuid</key>
	<string>407F7652-2DA0-4059-97B6-F68DB619930A</string>
</dict>
</plist>