<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array/>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Rename GPRW to YPRW</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				FEAGR1BSVwI=
				</data>
				<key>Replace</key>
				<data>
				FEAGWVBSVwI=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename BRT6 to BRTX</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				QlJUNgKg
				</data>
				<key>Replace</key>
				<data>
				QlJUWAKg
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename ECDV to EC</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				RUNEVg==
				</data>
				<key>Replace</key>
				<data>
				RUNfXw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename RP15.PXSX._RMV to XRMV</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				X1JNVgCkABQGX1BTMAAUSwVfUFMzAHJNTVRCC0gFYFuA
				UFhWRABgCghbgRBQWFZEA1RCMlAgUDJUQiCgLpCTVEJU
				UwGTU0JOUlRCVVNBREJHDXNlbmRpbmcgU1hfU1RBUlQA
				cAodUDJUQhQtSFBNRQigJpCSk1ZESUQM
				</data>
				<key>Replace</key>
				<data>
				WFJNVgCkABQGX1BTMAAUSwVfUFMzAHJNTVRCC0gFYFuA
				UFhWRABgCghbgRBQWFZEA1RCMlAgUDJUQiCgLpCTVEJU
				UwGTU0JOUlRCVVNBREJHDXNlbmRpbmcgU1hfU1RBUlQA
				cAodUDJUQhQtSFBNRQigJpCSk1ZESUQM
				</data>
			</dict>
		</array>
	</dict>
	<key>Booter</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>EnableSafeModeSlide</key>
			<true/>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>ProvideCustomSlide</key>
			<true/>
			<key>SetupVirtualMap</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>
				HgAAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAbGQ==
				</data>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>CPUFriendDataProvider.kext</string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>USBPorts.kext</string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AppleCpuPmCfgLock</key>
			<true/>
			<key>AppleXcpmCfgLock</key>
			<true/>
			<key>CustomSMBIOSGuid</key>
			<true/>
			<key>DisableIoMapper</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Boot</key>
		<dict>
			<key>HibernateMode</key>
			<string>None</string>
			<key>ShowPicker</key>
			<true/>
			<key>Timeout</key>
			<integer>0</integer>
			<key>UsePicker</key>
			<true/>
		</dict>
		<key>Debug</key>
		<dict>
			<key>DisplayLevel</key>
			<integer>2147483650</integer>
		</dict>
		<key>Security</key>
		<dict>
			<key>AllowNvramReset</key>
			<true/>
			<key>RequireSignature</key>
			<false/>
			<key>RequireVault</key>
			<false/>
			<key>ScanPolicy</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<integer>2</integer>
			</dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>brcmfx-country=#a agdpmod=vit9696 darkwake=3 -v</string>
				<key>csr-active-config</key>
				<data>
				AAAAAA==
				</data>
			</dict>
		</dict>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>MLB</key>
			<string>FillThis</string>
			<key>SystemProductName</key>
			<string>MacBookPro13,3</string>
			<key>SystemSerialNumber</key>
			<string>FillThis</string>
			<key>SystemUUID</key>
			<string>FillThis</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Custom</string>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>IgnoreInvalidFlexRatio</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
